%header#content-header
	= image_tag("#{asset_path @product.image_name}", id: "content-header-img", alt: "Learn #{@product.title}")
%section#content-receipt.clearfix
	#receipt-container
		.dotmatrix.left
		#receipt-content
			%h4#receipt-title Thank You!
			%p
				%strong RECEIPT
			#receipt-details.row.clearfix
				.col-sm-8.receipt-left
					%p
						%strong.font-weight-heavy 
							= @product.title
						%br/
						%span.font-weight-light 
							= @product.subtitle
				.col-sm-4
					$#{@product.price}
			= link_to 'DOWNLOAD', @product.download_url, target: '_blank', class: 'btn btn-success btn-xs', type: 'button'
			%footer#receipt-footer
				%small Your purchase is complete. We hope you'll enjoy it!
		.dotmatrix.right
	#receipt-shadow