#author-modal.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				%h4.modal-title
					%span.glyphicon.glyphicon-user>
					About the Teacher
			.modal-body.clearfix
				#modal-left.pull-left
					%p
						%strong 
							= @product.author
					%p
						= raw @product.author_description
				#modal-right.pull-right
					= image_tag("#{@product.author_image_name}", alt: "#{@product.author}")
			.modal-footer
				%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close